
.header {
  background-color: #191919;
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  height: 3.5em;
  display: flex;
  
}

.header h1{
  font-weight: 100;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-left: 1em;
}

.div_2{
  text-align: right;

}

.header h2{
  font-weight: 100;
  font-size: 1.5em;
  padding-top: 0.5em;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
